@model IEnumerable<FlowWebApp.Models.Report>

@{
    ViewData["Title"] = "My Reports";
    string message = ViewBag.Message;
}

<h3>
    <b>My Reports</b>
</h3>
<span>Inbox</span>
<div class="space-v"></div>
<p>
    <a asp-controller="UploadFile" asp-action="Index" class="btn btn-primary btn-sm">Request a new report</a>
</p>

<hr />

@if (message.Length > 0)
{
    <div class="alert alert-success">@message</div>
}

<table class="table">
    <thead>
        <tr>
            <th style="width: 50%;">Report Id</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        
        @*no reports, show message*@
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="100">
                    <i class="fa fa-inbox"></i>
                    No reports in your inbox
                </td>
            </tr>
        }


        @*list reports for user*@
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <i class="fa fa-file-pdf"></i>
                    @item.RepoDownloadFilename
                    </td>
                <td>@if(item.Payments.Count > 0){
                    <span style="color: green;" title="This file is allowed for download">
                        <i class="fa fa-check"></i>
                        Available
                    </span>

                    }else {
                     <span style="color: darkred;" title="This file needs a prior payment for download">
                           <i class="fa fa-clock"></i>
                           Pending payment
                       </span>
                    }
                </td>
                <td>
                    @*if has payment, can download,else pay*@
                    @if (item.Payments.Count > 0)
                    {
                        <a asp-controller="Payment" asp-action="Index"  asp-route-id="@item.Id" class="btn btn-light btn-sm btn-primary ">
                            <i class="fa fa-download"></i>
                            Download
                        </a>
                    }else
                    {
                        <a asp-controller="Payment"  asp-action="Index" asp-route-id="@item.Id"  class="btn btn-sm btn-secondary">
                             <i class="fa fa-credit-card"></i>
                            To pay
                         </a>  
                    }

                    @*delete report*@
                    <a asp-action="Delete" class="btn btn-sm btn-danger" asp-route-id="@item.Id">
                        <i class="fa fa-trash"></i>
                        Delete
                    </a>
                </td>
            </tr>

        }
       @* <tr title="this row is a demo for a existent record for your report">
            <td>
                <i class="fa fa-file-pdf" style="color: dimgray"></i>
                A_filename
            </td>
            <td>
                <span style="color: green;" title="This file is allowed for download">
                    <i class="fa fa-check"></i>
                    Available
                </span>
                |
                <span style="color: darkred;" title="This file needs a prior payment for download">
                    <i class="fa fa-clock"></i>
                    Pending payment
                </span>
            </td>
            <td>


                <a href="" class="btn btn-sm btn-primary ">
                    <i class="fa fa-download"></i>
                    Download
                </a>
                |
                <a href="" class="btn btn-sm btn-secondary">
                    <i class="fa fa-credit-card"></i>
                    Pay
                </a>
            </td>

        </tr>*@
    </tbody>
    <tfoot>
        <tr>
            <th colspan="2">(@Model.Count()) Matches found</th>
        </tr>
    </tfoot>
</table>


@if (ViewBag.show_success)
{
<div class="alert alert-sm alert-success">
    <i class="fa fa-check"></i>
    Your file uploaded successfully
    @ViewBag.message
</div>
}
@if (ViewBag.show_error)
{
  
<div class="alert alert-sm alert-danger">
    <i class="fa fa-info"></i>
    The uploaded file is not valid
    @ViewBag.message
</div>
}